@page
@model DonateLife.Web.Pages.Index
@{
    ViewData["Title"] = "Startseite";
    Layout = "_Layout";
}

<div class="container">
    <p class="lead">
        Willkommen bei DonateLife! Dies ist eine Plattform zur europaweiten Verwaltung und fairen Zuteilung von Spenderorganen.
    </p>
    <p>
        Unser Ziel ist es, eine transparente und manipulationssichere Datenbank zu schaffen, die DSGVO-konform ist und die langfristige Nachverfolgung von Transplantationen ermöglicht.
    </p>
</div>
